<form class="message_form">
  <input type="hidden" id="chat_speaker" name="user_id" value="<%= current_user.id %>">
  <input type="text" id="chat_speaker" name="content" data-behavior="chat_speaker">
  <button id="button">送信</button>
</form>