<div class="comments-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h1 class="text-center">コメント</h1>
          <%= render "form" %>
      </div>
    </div>
  </div>
</div>