<div class="following_users-wrapper">
  <div class="container">
    <div class="following_users">
      <div class="row">
        <% @following_users.each do |following_user| %>
        <div class="col-md-3">
          <%= link_to user_path(id: following_user.id) do %>
            <% if following_user.image.file %>
              <%= image_tag following_user.image.url, class: "user-icon" %>
            <% else %>
              <%= image_tag "/assets/bike_icon.png", class: "user-icon" %>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-6">
          <p class="recent_info">ユーザー近況コメント</p>
        </div>
        <div class="col-md-2 offset-md-1">
          <p class="follow_button btn btn-primary btn-block">フォローボタン</p>
          <p class="link_to_message btn btn-primary btn-block">メッセージへのリンク</p>
        </div>
      </div>
    </div>
  </div>
</div>