.text-red {
  color: red;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
  font-weight: bold;
}

.btn-white {
  color: white;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('top.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 60px;
    font-family: "impact";
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
    font-weight: 100;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  background-image: url('signup_login.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 100px;
    padding-bottom: 100px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar {
  margin-bottom: 0px;
  background-color: rgb(200,200,200);
  z-index: 999;
  a {
    color: #fff !important;
  }
  .navbar-brand {
    padding: 0px;
    margin-top: 8px;
  }
  .navbar-toggler-icon{
    float: right;
    background-color: rgb(100,100,100);
    height: 50px;
    width: 50px;
  }

  img {
    height: 40px;
  }
  
  .navbar-right p {
    color: black;
    font-size: 15px;
    
  }
}

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  font-weight: bold;

  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url('signup_login.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}


.topic-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-left: 10px;
      padding-top: 15px;
    }
    
    .user-icon {
      border-radius: 40%;
      width: 60px;
      height: 60px;
    }
    
    p {
      padding-top: 20px;
    }
    
    .topic-text {
      font-size: 20px;
    }
    
    .topic-image {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }
    
  }
}

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080;
}

.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
}

.comment-icon {
  width: 35px;
  height: 30px;
}




.comments {
  margin-top: 8px;
  
  h4 {
    border-bottom: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .container {
    .user-icon {
      border-radius: 40%;
      width: 65px;
      height: 65px;
    }
    
    .row {
      padding: 5px;
    }
    
    .comment-contents {
      padding-top: 5px;
    }
    
  }
  

  li {
    float: left;
    list-style: none;
    .edit {
      padding-right: 8px;
    }
  }
  
}

.user-show-wrapper {

  .user-design {
    margin-top: 100px;
    background-color: rgb(200,200,200);
    height: 350px;
    .user_background {
      background-color: red;
      height: 300px;
      width: auto;
    }
    
    p {
      float: right;
      padding: 5px 10px;
      font-size: 20px;
      border: 1px solid black;
    }
    
    .user-icon {
      margin-top: 20px;
      width: 100px;
      height: 100px;
      border: 2px solid white;
    }
  }  
  
  .topics-container {
    margin-top: 40px;
    
    .row {
      margin-top: 15px;
    }

  }
  
  .topic-image {
    width: 100px;
    height: 100px;
  }

}

.comments-new-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url('signup_login.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 750px;
  background-color: #464646;

    .form-group {
      margin-bottom: 20px;
    }
    
    .form-control {
      height: 300px;
    }
  
}

section.message_box {
  padding: 10px;
  border: 1px solid $gray-light;
  overflow: scroll;
  #messages {
    height: 400px;
  }
}

div.message_form {
  padding-top: 10px;
}

#message_sender {
  font-size: 1.1em;
}

#message_content {
  font-size: 1.0em;
}